<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.igitweb.whatsappestados"
        version     = "1.0.0"
        versionCode = "1" >

        <!-- versionCode is optional and Android only -->

        <preference name="phonegap-version" value="3.7.0" />
		<preference name="orientation" value="portrait" />
		<preference name="fullscreen" value="true" />

        <name>WhatsApp Estados</name>

        <description>
            Encuentra los mejores estados para compartir en WhatsApp. 
        </description>

        <author href="http://igitsoft.com" email="info@igitsoft.com">
            iGitApps
        </author>
		<icon src="img/isoWeb.png" />
		
		<platform name="ios" />
		<platform name="android" />
		
		<plugin name="cordova-plugin-file" />
		<plugin name="cordova-plugin-file-transfer" />
		<gap:plugin name="com-admob-plugin" source="npm"/>
		
    </widget>